addict==2.2.0
aenum==2.1.2
coverage==4.5
paramiko==2.4.2
pycodestyle==2.5.0
pylint==2.5.3
pytest==4.4.1
pytest-cov==2.6.1
pytest-xdist==1.28
pyserial==3.4
pyodbc
distro==1.4.0
beautifultable==0.8.0
ruamel.yaml==0.16.5
requests==2.24.0
pyyaml~=6.0.1
flask~=3.0.0
flask_bootstrap
werkzeug~=3.0.0